
body{
  background-image: linear-gradient(to bottom right,rgb(243, 5, 152),rgb(16, 127, 231));
}

.main{
    text-align: center;

}
button{
    background: none;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}
#reset{
  border: 2px solid black;
  background-color: grey;
  color: peachpuff;
  font-family: cursive;
  cursor: pointer;
}
p{
    font-size: 30px;
     
}
.img{
    height: 150px;
    border-radius: 150px;
    
}