*{
  margin: 0;
  padding: 0;
}
body{
  background-color: purple;
  
}
.container{
  background-color: whitesmoke;
  position: absolute;
  top: 35%;
  left: 30%;
  width: 450px;
  height: 70px;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.container span{
  width: 100%;
}
.container span input{
  
  padding: 10px;
  margin: 15px;
  width: 70%;
}
.container span button{
  width: 10%;
  padding: 20px;
  border-radius: 50%;
  outline: 0;
  border: 0;
  background-color: darkgray;
  cursor: pointer;
}
.container span button i{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#msgname{
  position: absolute;
  top: 47%;
  left: 32%;
 color: white;
  width: 170px;
  justify-content: space-between;
  /* background-color: aliceblue; */
  display: flex;
}
