.prograssmain{
  height: 30px;
  width: 40%;
  border: 2px solid black;
  border-radius: 20px;
position: relative;
display: flex;
}
#prograssinside{
  height: 100%;
  width: 100%;
  background-color: rgb(107, 209, 209);
  border-radius: 20px;
   animation: progress 1s  ;
}
@keyframes progress {
  0%{width: 0%;}
  70%{width: 60%;}
  80%{width: 70%;}
  85%{width: 50%;}
  90%{width: 70%;}
  95%{width: 95%;}
  100%{width: 100%;}
}
#zero{
left: 0px;
}
#hundred{
left: 30%;
position: relative;
}