*{
  margin: 0;
  padding: 0;
  background-color: rgb(3, 0, 46);
  font-family: 'poppins';
}
.container{
  /* background-color: white; */
  margin: 10%;
  width: 90%;
  max-width: 500px;
  height: 400px;
  padding: 20px;
}

.container h1{
  color: white;
  /* font-size: xx-large; */
  font-weight: 700;
}
.container h1 span{
  color: rgb(83, 216, 83);
  /* font-size: xx-large; */
  border-bottom: 4px solid rgb(68, 163, 68);;
}
.passwordplace{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;

}
.passwordplace img{
 width: 30px;
 background-color: white;
  cursor: pointer;  
}
.passwordplace input{
  outline: 0;
  border: 0; 
  background-color: white;
 }
 .generator{
  background-color: rgb(29, 88, 29);
  width: 300px;
  align-items: center;
  display: flex;
  padding: 6px 5px 6px 15px;
  border-radius: 5px;
}
 .generator img{
  width: 25px;
  background-color: transparent;
 }
 .generator button{
  width: 60%;
  
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: large;
  color: white;
  cursor: pointer;
 }